// google font - secular one
// @import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

// @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Monoton&display=swap");
/* Color Theme Swatches in Hex */

// $Graphic-Design-1-hex: #886FBF;
// $Graphic-Design-2-hex: #8E80BF;
// $Graphic-Design-3-hex: rgb(82, 71, 160);
// $Graphic-Design-4-hex: #ADAABF;
// $Graphic-Design-5-hex: #171C26;
$color-purple1: #886fbf;
$color-background: #adaabf;
$color-purple2: rgb(142, 128, 191);
$color-dark: #171c26;
$color-purple3: rgb(87, 75, 166);
$color-gray: #eee;

//basic
html {
    box-sizing: border-box;
    font-size: 10px;
    background: $color-gray;
}

* {
    box-sizing: inherit;
    // font-family: 'Secular One', sans-serif;
    font-family: "Chelsea Market", cursive;
    // font-family: 'Monoton', cursive;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

body{
    position: relative;
    
}


// navbar --new-version mobile user friendly
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-image: linear-gradient(to bottom right,$color-purple3,$color-purple2);
    .nav-logo{
        margin:1rem;
        .small{
            display:none;
        }
        a {
            text-decoration: none;
            

            span{
                font-size: 2rem;
                color: $color-gray;
            }
        }
    }
    .nav-items {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        max-width: 50rem;
        width:50%;
        min-width:16rem;
        justify-content: space-evenly;

        .nav-item {
            // margin: 1.5rem;

            a {
                color: $color-gray;
                text-decoration: none;
            }
            .small{
                display:none;
                i{
                    font-size:1.8rem;
                }
            }
        }
    }

    .nav-profile{
        .dropdown{
            position:relative;
            display:inline-block;
        }
        .dropbtn{
            margin-right: 1rem;
            img{
                width:4rem;
                height: 4rem;
                border-radius: 50%;
            }
        }
        .dropdown-content{
            display:none;
            position:absolute;
            right:0%;
            background-color: #f9f9f9;
            min-width:16rem;
            box-shadow:0 .8rem 1.6rem 0 rgba(0,0,0,0.2);
            z-index:1;
        }
        .dropdown-content a{
            color:black;
            padding:1.2rem 1.6rem;
            text-decoration: none;
            display:block;
        }
        .dropdown-content a:hover{
            background-color:#f1f1f1;
        }

        .dropdown:hover .dropdown-content{
            display:block;
        }

    }
}

.black-background{
    position:absolute;
    top:0%;
    left:0%;
    height: 100%;
    width:100%;
    background: rgba(0,0,0,0.3);
    display:none;
    z-index:2;
}

//login-overlay...
.login-overlay{
    position: fixed;
    display:none;
    top:50%;

    left:50%;
    transform: translate(-50%,-50%);
    min-width:35rem;
    max-width: 40rem;
    width:90%;
    min-height: 25rem;
    max-height: 40rem;
    height:60%;
    z-index:4;
    border-radius: 0.8rem;
    // background:yellow;
    background-image: linear-gradient(to right bottom,rgba(87, 75, 166,0.7),rgba(142, 128, 191,0.7)) ,url("https://media1.tenor.com/images/9315323caf60de2a47ef3d7be106784a/tenor.gif?itemid=14096215");
    background-repeat: no-repeat;
    background-size: cover;
    .cancel{
        // width:100%;
        
       
        .fa-times{
            float:right;
            font-size:3rem;
            color:white;
            margin-top:1rem;
            margin-right:1.5rem;
            
        }
    }
        .login-content{
            width:60%;
            padding:2rem;
            height:75%;
            background:white;
            margin:12.5% auto;
            border-radius: 0.8rem;
            display:flex;
            flex-direction: column;
            
            align-items: center;
            .login-form{
                margin:1rem 0;
                display:flex;
                flex-direction: column;
                align-items: center;
                input{
                    margin:0.5rem 0;
                    max-width:100%;
                }
            }
        }
    
}


.container {
    min-width: 95rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;

    .gif-container {
        margin-top: 5rem;
        display: grid;

        grid-template-columns: repeat(3, minmax(30rem, 40rem));
        grid-column-gap: 4%;

        grid-row-gap: 3rem;

        .gif {
            position: relative;
            width: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 0.7rem;
            }
        }
    }
}

// Styling for individual gif post...

.containerG {
    // min-width:45rem;
    max-width: 130rem;
    width: 80%;
    margin: auto;
    padding: 2rem;
    //margin: 0 15;

    .container-content {
        display: flex;
        justify-content: center;

        // align-items: center;
        main {
            max-width: 70rem;
            width: 70%;
            padding: 1rem 2rem;
            border-right: 0.1rem solid $color-dark;

            .gif {
                h1 {
                    font-size: 3rem;
                    color: $color-dark;
                }

                .author {
                    text-align: right;
                    opacity: 0.8;
                }

                img {
                    width: 100%;
                }

                button {
                    width: 70px;
                    padding: 0.5rem 1rem;

                    &.prev {
                        background-color: $color-background;
                    }

                    &.next {
                        color: white;
                        background-color: $color-purple1;
                    }
                }
            }

            h1 {
                margin-top: 3rem;
                font-size: 2rem;
            }
        }

        aside {
            // flex: 1;
            margin-top: 3rem;
            padding: 1rem 2rem;
            width: 30%;

            .share {
                h3 {
                    margin-top: 3rem;
                }

                .share-button {
                    display: flex;
                    // max-width: 100%;

                    .fa {
                        padding: 2rem;
                        font-size: 2rem;
                        width: 6rem;
                        text-align: center;
                        text-decoration: none;
                        border-radius: 50%;
                    }

                    /* Add a hover effect if you want */
                    .fa:hover {
                        opacity: 0.7;
                    }

                    /* Set a specific color for each brand */

                    /* Facebook */
                    .fa-facebook {
                        background: #3b5998;
                        color: white;
                    }

                    /* Twitter */
                    .fa-twitter {
                        background: #55acee;
                        color: white;
                    }

                    .fa-reddit {
                        background: #ff5700;
                        color: white;
                    }

                    .fa-instagram {
                        background: #125688;
                        color: white;
                    }
                }
            }

            button {
                width: 70px;
                border-radius: 10%;
                text-shadow: $color-background;
                box-shadow: $color-purple2;
            }

            .views {
                opacity: 0.6;
            }

            .link {
                margin-top: 3rem;
                display: inline-block;

                .url {
                    max-width: 100%;
                    background-color: white;
                }
            }
        }
    }

    //margin: 0 15;
    // same as gif landing
    .container_below {
        display: flex;
        justify-content: center;

        main {
            max-width: 70rem;
            width: 70%;
            padding: 1rem 2rem;
            border-right: 0.1rem solid $color-dark;


            //margin: 5rem auto;
            padding: 1rem 2rem;

            .related-container {
                display: grid;
                grid-row-gap: 2rem;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 2rem;

                .related-gif {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }

        }

        aside {
            // flex: 1;
            margin-top: 3rem;
            padding: 1rem 2rem;
            width: 30%;
        }

    }
}

select:focus,
input:focus,
button:focus {
    outline: 0;
}

//--------------------------

// Styling for User page

.u-container {
    min-width: 100rem;
    width: 80%;
    max-width: 130rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;

    .user {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .user-info {
            h1 {
                font-size: 2.5rem;
            }
        }

        .user-photo {
            img {
                width: 15rem;
                height: 15rem;
                border-radius: 50%;
            }
        }
    }

    .user-post {
        margin: 5rem auto;

        .u-gif-container {
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, minmax(30rem, 40rem));
            grid-column-gap: 4%;
            grid-row-gap: 3rem;

            .u-gif {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0.7rem;
                }
            }
        }
    }
}

//Styling for new post , Register, Login

.new-container {
    width: 80%;
    margin: 20rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            margin: 0.5rem;
            font-size: 2rem;
        }
    }
}

//--------------------------
// Hover like

.hover-like {

    // HEART
    .heart {
        width: 100px;
        height: 100px;
        position: absolute;
        right: 35px;
        top: 35px;
        // transform: translate(-50%, -50%);
        background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
        background-position: 0 0;
        cursor: pointer;
        animation: fave-heart 1s steps(28);
    }

    .is_active {
        background-position: -2800px 0;
        transition: background 1s steps(28);
    }




    &:hover {
        transform: scale(1.05);
        // border: 1px black solid;
    }

    &:hover .heart {
        visibility: visible;
    }

    // &:hover .fa-edit {
    //     visibility: visible;
    // }

    &:hover .tags {
        visibility: visible;
    }

    &:hover .gif-img {
        border: 1px black solid;
        box-shadow: 1rem 1rem 0.5rem #ccc;
    }
}

.heart {
    //,
    // .fa-edit 
    position: absolute;
    top: 3rem;
    right: 3rem;
    visibility: hidden;
    // display:none;
    transform: translate(50%, -50%);
    color: white;
    font-size: 3rem;
    z-index: 2;
}

.tags {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    color: white;
    visibility: hidden;
    font-size: 2rem;
}



@media (max-width: 1350px) {
    .related-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}



@media (max-width: 1250px) {
    main {
        width: 65% !important;
    }

    aside {
        width: 35% !important;
    }
}

@media (max-width: 1100px) {
    .container {
        min-width: 0 !important;
    }

    .gif-container,
    .u-gif-container {
        grid-template-columns: repeat(2, minmax(25rem, 35rem)) !important;
    }

    .u-container {
        min-width: 65rem !important;
    }

    .container-content {
        flex-direction: column;
    }

    .container_below {
        flex-direction: column;
    }

    .related-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .containerG {
        width: 85% !important;
    }

    main {
        border-right: none !important;
        width: 100% !important;
    }

    aside {
        width: 100% !important;
    }
}

@media (max-width: 600px) {
    
        .big{
            display:none;
        }
        .small{
            display:block !important;
        }
    

    .gif-container,
    .u-gif-container {
        grid-template-columns: minmax(0, 40rem) !important;
    }

    .u-container {
        min-width: 0 !important;
    }

    .related-container {
        grid-template-columns: 1fr !important;
    }

    .containerG {
        width: 100% !important;
    }

    .user {
        flex-direction: column;
        .user-info {
            order: 2;
        }
        .user-photo {
            order: 1;
        }
    }

    
}

@keyframes fave-heart {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2800px 0;
    }
}