</body>
<% if(!currentUser){ %>
    <a class="register" href="/register">Register</a>
    <% } else { %>
        <p>Signed in as
            <%= currentUser.username %>
        </p>
        <a href="/logout">Logout</a>
        <% } %>

            </html>