</body>
<% if(!currentUser){ %>
    <a class="login" href="/login">Login</a>
    <% } else { %>
        <p>Signed in as
            <%= currentUser.username %>
        </p>
        <a href="/logout">Logout</a>
        <% } %>

            </html>