<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://kit.fontawesome.com/f15166f48d.js" crossorigin="anonymous"></script>
    <title>GIF-PARADISE</title>
</head>

<body>
    <div class="navbar">
        <div class="nav-logo"><a href="/"><span class="big">GIF-PARADISE</span><span class="small">GP</span></a></div>
        <div class="nav-items">
            <li class="nav-item home"><a href="#"><span class="big">Home</span><span class="small"><i class="fas fa-home"></i></span></a></li>
            <li class="nav-item hot"><a href="#"><span class="big">Hot</span><span class="small"><i class="fab fa-hotjar"></i></span></a></li>
            <li class="nav-item favorite"><a href="#"><span class="big">Favorite</span><span class="small"><i class="fas fa-heart"></i></span></a></li>
            <li class="nav-item search"><a href="#"><span class="big">Search</span><span class="small"><i class="fas fa-search"></i></span></a></li>
        </div>
        <div class="nav-profile">
            <% if(!currentUser){ %>
                <div class="dropdown">
                    <div class="dropbtn" onclick="openForm()" id="login-btn"><img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt=""></div>

                </div>
                <%} else{ %>
                    <div class="dropdown">
                        <div class="dropbtn"><img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Donald_Trump_official_portrait.jpg" alt=""></div>
                        <div class="dropdown-content">
                            <a href="/user/<%=currentUser._id%>/<%=currentUser.username||currentUser.googleName%>">Profile</a>
                            <a href="/add">Upload</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
                    <%}%>
        </div>


        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/5/56/Donald_Trump_official_portrait.jpg" alt=""> -->

    </div>
    <div class="black-background">

    </div>
    <div class="login-overlay" id="login-overlay">
        <div class="cancel" id="cancel" onclick="closeForm()">
            <i class="fas fa-times"></i>
        </div>

        <div class="login-content">
            <h2>Login</h2>
            <form class="login-form" action="/login" method="POST">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="Login">
            </form>
        </div>


    </div>