<%- include("partials/header") %>

    <h1>Gif - Paradise</h1>
    <h1>Welcome!</h1>

    <video autoplay muted loop src="https://thumbs.gfycat.com/WarlikeEnormousCow-mobile.mp4"></video>
    <video autoplay muted loop src="https://thumbs.gfycat.com/ShockedPettyHyrax-mobile.mp4"></video>

    <%- include("partials/footer") %>