<%- include("partials/header") %>

    <h1>Gif - Paradise</h1>
    <h1>Welcome!</h1>

    <%  post.forEach(newPost=>{ %>
        <video autoplay muted loop src="<%=newPost.url%>"></video>
        <%});%>

            <%- include("partials/footer") %>