@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Monoton&display=swap");
/* Color Theme Swatches in Hex */
html {
  box-sizing: border-box;
  font-size: 10px;
  background: #eee; }

* {
  box-sizing: inherit;
  font-family: 'Chelsea Market', cursive;
  margin: 0;
  padding: 0;
  font-size: 1.6rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom right, #574BA6, #8E80BF); }
  .navbar .nav-logo {
    margin: 1rem; }
    .navbar .nav-logo a {
      font-size: 2rem;
      color: #eee;
      text-decoration: none; }
  .navbar .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    max-width: 60rem;
    width: 50%;
    justify-content: space-evenly; }
    .navbar .nav-items .nav-item a {
      color: #eee;
      text-decoration: none; }
  .navbar .nav-user {
    min-width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navbar .nav-user img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%; }

.container {
  min-width: 95rem;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center; }
  .container .gif-container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 40rem));
    grid-column-gap: 4%;
    grid-row-gap: 3rem; }
    .container .gif-container .gif {
      position: relative;
      width: 100%; }
      .container .gif-container .gif img {
        width: 100%;
        height: 100%;
        border-radius: 0.7rem; }

.containerG {
  max-width: 130rem;
  width: 80%;
  margin: auto;
  padding: 2rem; }
  .containerG .container-content {
    display: flex;
    justify-content: center; }
    .containerG .container-content main {
      max-width: 70rem;
      width: 100%;
      padding: 1rem 2rem;
      border-right: 0.1rem solid #171C26; }
      .containerG .container-content main .gif h1 {
        font-size: 3rem;
        color: #171C26; }
      .containerG .container-content main .gif .author {
        text-align: right;
        opacity: 0.8; }
      .containerG .container-content main .gif img {
        width: 100%; }
      .containerG .container-content main .gif button {
        width: 70px;
        padding: .5rem 1rem; }
        .containerG .container-content main .gif button.prev {
          background-color: #ADAABF; }
        .containerG .container-content main .gif button.next {
          color: white;
          background-color: #886FBF; }
      .containerG .container-content main h1 {
        margin-top: 3rem;
        font-size: 2rem; }
    .containerG .container-content aside {
      margin-top: 3rem;
      padding: 1rem 2rem; }
      .containerG .container-content aside .share h3 {
        margin-top: 3rem; }
      .containerG .container-content aside .share .share-button {
        display: flex;
        /* Add a hover effect if you want */
        /* Set a specific color for each brand */
        /* Facebook */
        /* Twitter */ }
        .containerG .container-content aside .share .share-button .fa {
          padding: 2rem;
          font-size: 2rem;
          width: 6rem;
          text-align: center;
          text-decoration: none;
          border-radius: 50%; }
        .containerG .container-content aside .share .share-button .fa:hover {
          opacity: 0.7; }
        .containerG .container-content aside .share .share-button .fa-facebook {
          background: #3B5998;
          color: white; }
        .containerG .container-content aside .share .share-button .fa-twitter {
          background: #55ACEE;
          color: white; }
        .containerG .container-content aside .share .share-button .fa-reddit {
          background: #ff5700;
          color: white; }
        .containerG .container-content aside .share .share-button .fa-instagram {
          background: #125688;
          color: white; }
      .containerG .container-content aside button {
        width: 70px;
        border-radius: 10%;
        text-shadow: #ADAABF;
        box-shadow: #8E80BF; }
      .containerG .container-content aside .views {
        opacity: 0.6; }
      .containerG .container-content aside .link {
        margin-top: 3rem;
        display: inline-block; }
        .containerG .container-content aside .link .url {
          max-width: 100%;
          background-color: white; }
  .containerG .related {
    margin: 5rem auto;
    padding: 1rem 2rem; }
    .containerG .related .related-container {
      display: grid;
      grid-row-gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem; }
      .containerG .related .related-container .related-gif {
        width: 100%; }
        .containerG .related .related-container .related-gif img {
          width: 100%; }

select:focus,
input:focus,
button:focus {
  outline: 0; }

.u-container {
  min-width: 100rem;
  width: 80%;
  max-width: 130rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column; }
  .u-container .user {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .u-container .user .user-info h1 {
      font-size: 2.5rem; }
    .u-container .user .user-photo img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%; }
  .u-container .user-post {
    margin: 5rem auto; }
    .u-container .user-post .u-gif-container {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, minmax(30rem, 40rem));
      grid-column-gap: 4%;
      grid-row-gap: 3rem; }
      .u-container .user-post .u-gif-container .u-gif {
        position: relative; }
        .u-container .user-post .u-gif-container .u-gif img {
          width: 100%;
          height: 100%;
          border-radius: 0.7rem; }

.new-container {
  width: 80%;
  margin: 20rem auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .new-container h1 {
    font-size: 2rem; }
  .new-container form {
    display: flex;
    flex-direction: column; }
    .new-container form input {
      margin: 0.5rem;
      font-size: 2rem; }

.hover-like:hover {
  transform: scale(1.05); }

.hover-like:hover .fa-heart {
  visibility: visible; }

.hover-like:hover .fa-edit {
  visibility: visible; }

.hover-like:hover .tags {
  visibility: visible; }

.hover-like:hover .gif-img {
  border: 1px black solid;
  box-shadow: 1rem 1rem 0.5rem #ccc; }

.fa-heart, .fa-edit {
  position: absolute;
  top: 3rem;
  right: 3rem;
  visibility: hidden;
  transform: translate(50%, -50%);
  color: white;
  font-size: 3rem;
  z-index: 2; }

.tags {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  color: white;
  visibility: hidden;
  font-size: 2rem; }

@media (max-width: 1100px) {
  .nav-items {
    display: none !important; }
  .gif-container, .u-gif-container {
    grid-template-columns: repeat(2, minmax(30rem, 35rem)) !important; }
  .u-container {
    min-width: 65rem !important; }
  .container-content {
    flex-direction: column; }
  .related-container {
    grid-template-columns: repeat(2, 1fr) !important; }
  .containerG {
    width: 85% !important; }
  .container {
    min-width: 65rem !important; }
  main {
    border-right: none !important; } }

@media (max-width: 700px) {
  .gif-container, .u-gif-container {
    grid-template-columns: minmax(30rem, 40rem) !important; }
  .u-container {
    min-width: 0 !important; }
  .related-container {
    grid-template-columns: 1fr !important; }
  .containerG {
    width: 100% !important; }
  .user {
    flex-direction: column; }
    .user .user-info {
      order: 2; }
    .user .user-photo {
      order: 1; }
  .container {
    min-width: 0 !important; } }
